<%- include("../partials/_navbar.ejs")  %>
<h1>Here's all the listings</h1>

<ul>
  <% listings.forEach(listing => { %>
    <li>
      A listing in 
      <%= listing.streetAddress %> 
      <%= listing.city %> 
      owned by
      <%= listing.owner.username %>
      <a href="/listings/<%= listing._id %>">View more details</a> 
    </li>
  <% }) %>
</ul>

<a href="/listings/new">Add a new Listing</a>

